<!DOCTYPE html>
<html ng-app="project" ng-controller="indexCtrl" lang="es">
<head>

    <base href="">
    <meta charset="UTF-8">
    <title>Coesco</title>
    <link rel="shortcut icon" type="image/ico" href="img/icono.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <!--Compiled and minified AngularJS-->
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="vendor/angular-cookies.js"></script>

    <!--Materialize-->
    <script src="vendor/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--App-->
    <script src="scripts/app.js"></script>

    <!--Controllers-->
    <script src="scripts/controllers/formacionCtrl.js"></script>
    <script src="scripts/controllers/indexCtrl.js"></script>
    <script src="scripts/controllers/trainingCtrl.js"></script>
    <script src="scripts/controllers/workCtrl.js"></script>
    <script src="scripts/controllers/contactCtrl.js"></script>
    <script src="scripts/controllers/newOfferCtrl.js"></script>
    <script src="scripts/controllers/modifyOfferCtrl.js"></script>
    <script src="scripts/controllers/modifyCourseCtrl.js"></script>
    <script src="scripts/controllers/newCourseCtrl.js"></script>
    <script src="scripts/controllers/loginCtrl.js"></script>
    <script src="scripts/controllers/adminIndexCtrl.js"></script>
    <script src="scripts/controllers/newAlergenoCtrl.js"></script>
    <script src="scripts/controllers/alergenosCtrl.js"></script>
    <script src="scripts/controllers/cvsCtrl.js"></script>

    <!--Services-->
    <script src="scripts/services/postService.js"></script>
    <script src="scripts/services/restService.js"></script>
    <script src="scripts/services/authService.js"></script>

    <!--Directives-->
    <script src="scripts/directives/fileModel.js"></script>

    <!--Styles-->
    <link rel="stylesheet" href="styles/spinner.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- New Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">

    <!--Sweet alerts-->
    <script src="node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.css">

    <!--Angular Spinners-->
    <script src="node_modules/angular-spinners/dist/angular-spinners.js"></script>


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img class="logo" src="img/logoCoesco.png"></a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="section2l"><a href="#section2" ng-click="scroll(2)">Formación</a></li>
                    <li id="section3l"><a href="#section3" ng-click="scroll(3)">Sobre Nosotros</a></li>
                    <li id="section4l"><a href="#section4" ng-click="scroll(4)">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
        </div>

        <div class="item">
            <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
            <img src="img/ny.jpg" alt="New york" style="width:100%;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<span ng-view class="main"></span>

<footer>
    <div class="container-fluid foot">
        <div class="row text-center">
            <h4>Acreditados Por:</h4>
            <ul class="acreditados">
                <li class="footerA"><img src="img/union_europea.png" style="width:88px;height:80px;"></a></li>
                <li class="footerA"><img src="img/gobierno_espana.png" style="width:193px;height:46px;"></a></li>
                <li class="footerA"><img src="img/xunta.png" style="width:144px;height:46px;"></a></li>
                <li class="footerA"><img src="img/logoEstatal.png" style="width:321px;height:51px;"></a></li>
                <li class="footerA"><img src="img/fundacion.png" style="width:193px;height:47px;"></a></li>
            </ul>
        </div>
        <div class="row">
            <div class="text-center">
                <h4>¡Síguenos!</h4>
                <ul class="ulFooter">
                    <li class="footer"><a href="https://es-es.facebook.com/CentroFID/" target="_blank"><img
                            src="img/facebook.png" style="width:30px;height:30px;"></a></li>
                    <li class="footer"><a href="https://www.linkedin.com/company/grupo-gallega-laboral-deza"
                                          target="_blank"><img src="img/linkedin.png"
                                                               style="width:30px;height:30px;"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <b>© 2018 COESCO</b>
                <a class="text-right" href="#/legal" target="_blank"> Aviso Legal</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>