 <nav class="navbar navbar-default navbar-fixed-top" ng-controller="adminIndexCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adminNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#"><img class="logo" src="img/logoCoesco.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="adminNavbar">
                <ul class="nav navbar-nav">
                    <li><a ng-click="close()"> Cerrar Sesión </a></li>
                </ul>
            </div>
        </div>
 </nav>
