<div id="section2" class="container-fluid">
    <div class="row text-center">
        <h2>Próximos Cursos Presenciales</h2>

        <!--No offers message-->
        <h5 ng-if="courses.length < 1">
            <br>
            <br>
            PROXIMAMENTE NUEVOS CURSOS PRESENCIALES
        </h5>

        <!--Offer card-->
        <div class="panel panelC panel-default col-md-6" ng-repeat="course in courses track by $index">
            <h3 class="panel-heading centeralign">{{course.name}}</h3>

            <div class="panel-body ">
                <div class="row">
                    <div class="col-md-12">
                        <img src="data:{{course.contentType}};base64, {{course.image}}"
                             style="width:100%;height:300px;object-fit: contain">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <!--Offer data-->
                        <div>
                            <p ng-if="course.zone.length > 1"><b> Zona: </b> {{course.zone}}</p>
                            <p ng-if="course.description.length > 1"><b> Descripción: </b> {{course.description}}</p>
                            <p ng-if="course.dateIni.length > 1"><b> Fecha Inicio: </b> {{course.dateIni}}</p>
                            <p ng-if="course.dateFin.length > 1"><b> Fecha Fin: </b> {{course.dateFin}}</p>
                            <p ng-if="course.time.length > 1"><b> Horario: </b> {{course.time}}</p>
                            <p ng-if="course.direction.length > 1"><b> Dirección: </b> {{course.direction}}</p>
                        </div>

                        <div class="text-center">
                            <a ng-click="setCourse(course.name)" class="btn btn-primary" data-toggle="modal"
                               data-target="#modalCourse">Solicitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <ul class="pagination">
            <li id="page{{page}}" ng-class="{true: 'active'}[page == 1]" ng-repeat="page in pages">
                <a ng-click="get(page)">{{page}}</a>
            </li>
        </ul>
    </div>

    <!--<div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 text-center calendar">
            <h3>Próximos Eventos</h3>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=es.spain%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=Europe%2FMadrid"
                    style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-sm-1">
        </div>
    </div>-->
</div>

<div id="section3" class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5 text-center">
            <h2 style="color:white; font-weight:bold;">Formación para adultos</h2>
            <ul class="list-group for">
                <a href="" class="list-group-item list-group-item-action">CERTIFICADOS DE PROFESIONALIDAD</a>
                <a href="" class="list-group-item list-group-item-action">CAP (Certificados de Aptitud Profesional)</a>
                <a href="" class="list-group-item list-group-item-action">IDIOMAS</a>
                <a href="" class="list-group-item list-group-item-action">DACTILOGRAFÍA</a>
                <a href="" class="list-group-item list-group-item-action">NUEVAS TECNOLOGÍAS</a>
                <a href="" class="list-group-item list-group-item-action">ADMINISTRACIÓN Y GESTIÓN</a>
                <a href="" class="list-group-item list-group-item-action">HOSTELERÍA</a>
                <a href="" class="list-group-item list-group-item-action">COMERCIO</a>
                <a href="" class="list-group-item list-group-item-action">INDUSTRIA</a>
                <a href="" class="list-group-item list-group-item-action">OFICIOS</a>
                <a href="" class="list-group-item list-group-item-action">AGROGANADERÍA</a>
                <a href="" class="list-group-item list-group-item-action">SANIDAD</a>
                <a href="" class="list-group-item list-group-item-action">SALUD Y BINIESTAR</a>
            </ul>
        </div>
        <div class="col-sm-5 text-center">
            <h2 style="color:white; font-weight:bold;">Formación para niños y adolescentes</h2>
            <ul class="list-group for">
                <a href="" class="list-group-item list-group-item-action">REFUERZO EDUCATIVO</a>
                <a href="" class="list-group-item list-group-item-action">IDIOMAS</a>
                <a href="" class="list-group-item list-group-item-action">MECANOGRAFÍA</a>
                <a href="" class="list-group-item list-group-item-action">NUEVAS TECNOLOGÍAS</a>
                <a href="" class="list-group-item list-group-item-action">DESARROLLO MUSICAL</a>
                <a href="" class="list-group-item list-group-item-action">DESARROLLO ARTÍSTICO</a>
                <a href="" class="list-group-item list-group-item-action">DESARROLLO FÍSICO Y DEPORTIVO</a>
                <a href="" class="list-group-item list-group-item-action">E-SPORTS</a>
                <a href="" class="list-group-item list-group-item-action">CIVISIMO</a>
                <a href="" class="list-group-item list-group-item-action">CIENCIA PARA JÓVENES</a>
                <a href="" class="list-group-item list-group-item-action">OFICIOS PARA PRINCIPIANTES</a>
            </ul>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

<div id="section4" class="container-fluid">
    <div class="row">

        <div class="container col-md-6">
            <div id="estrada">
                <h2>Información de Contacto</h2>

                <address> Formación: 986 57 20 25 | <a
                        href="mailto:cursos@pontempleo.com">coesco@coescoformacion.com</a>
                </address>

                <address> Atención a Empresas: 607 16 59 66 | <a href="mailto:empresas@coescoformacion.com">empresas@coescoformacion.com</a>
                </address>

                <b>
                    Horario 10:00 - 14:00 | 16:00 - 19:00
                    <address> Rúa San Paio, 21, 36680 - A Estrada | Telf.: 986 57 20 25
                    </address>
                </b>

                <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1233.0097504453759!2d-8.490942164424172!3d42.690846639007894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a6aabbe64a39d19!2sCOESCO+-+Centro+de+Orientaci%C3%B3n+de+Estudios+Comerciales+SLU!5e0!3m2!1ses!2ses!4v1525196804472"
                        width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

        <form ng-submit="submitContact()" id="myForm" role="form" name="myForm">
            <div class="col-md-6 form-line">
                <h3>Formulario de contacto</h3>
                <div class="form-group">
                    <label for="nameForm">Nombre *</label>
                    <input type="text" ng-model="nameForm" class="form-control" id="nameForm" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico *</label>
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="email"
                           class="form-control" id="email" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="phone">Nº de teléfono *</label>
                    <input type="text" pattern="[6789][0-9]{8}" ng-model="phone" class="form-control" id="phone"
                           placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="description">Mensaje *</label>
                    <textarea class="form-control" ng-model="description" id="description"
                              placeholder="Escribe su mensaje" required></textarea>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="privacidad" value="false" required> He leído y acepto el <a
                        data-toggle="modal" data-target="#privacidad">tratamiento de mis datos personales</a> *
                </div>
                <p>* Campos obligatorios</p>
                <div>
                    <button type="submit" class="btn btn-danger" ng-click="resetContact()">
                        Reset
                    </button>
                    <button type="submit" class="btn btn-default submit">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="section5" class="container-fluid">
    <div class="row about">
        <div class="col-sm-6">
            <h2 class="services">Sobre COESCO</h2><br>
            <p><strong>COESCO</strong> (Centro de Orientación de Estudios Comerciales) es una compañía dedicada a la
                enseñanza especializada y de calidad.</p>
            <p>Fundada en el corazón de Galicia en el año 1984 persigue desde siempre la mayor eficiencia posible
                en cada una de sus acciones formativas, intentado mantener como seña de identidad la optimacización
                y adecuación de todos sus cursos a las nuevas demandas de la sociedad y al uso de las nuevas
                tecnologías,
                tanto en lo referente a los contenidos como a la metodología aplicada en sus procesos formativos.</p>
            <p>Hoy, apoyándonos en la experiencia, el recorrido y la tradición de su ya dilatada trayectoria,
                <strong>COESCO</strong> continúa, fiel a sus principios, persiguiendo a través de la innovación y la
                reinvención constante el mayor grado de excelencia en todas sus actividades, con fuerzas renovadas
                y una pasión, si cabe, mayor que nunca.</p>
        </div>
        <div class="col-sm-6 text-center">
            <span class="glyphicon glyphicon-signal logo1"></span>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="legal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Política de Privacidad</h4>
            </div>
            <div class="modal-body">
                <p>El Reglamento <strong>(UE) 2016/679 de protección de datos de carácter personal</strong>, establece
                    un nuevo
                    enfoque para el control y el tratamiento de los datos de carácter personal. Hemos revisado y
                    adaptado
                    nuestra
                    política de privacidad a
                    los nuevos requisitos y queremos ofrecer mayor información y transparencia en relación con el
                    tratamiento de
                    los
                    datos personales.<strong> COESCO S.L con CIF: B-36043073 es responsable del
                        tratamiento</strong> de los datos
                    de carácter personal de sus usuarios y clientes, así como de los datos que puedan ser recabados a
                    través del
                    sitio web. COESCO S.L informa a los usuarios del sitio web sobre su política
                    respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes
                    que
                    puedan ser recabados por la navegación o contratación de servicios a través de su sitio web.</p>

                <strong>Finalidad del tratamiento de los datos.</strong>
                <p>Sus datos de carácter personal se recaban con la finalidad de <i>prestar y mantener los servicios
                    acordados
                    contractualmente así como poder informarle sobre los nuevos productos y servicios</i>.
                    El tratamiento de los datos que nos facilite a través de los formularios de la web
                    <strong>www.pontempleo.com</strong> se regirá por esta misma política de
                    privacidad.
                    Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no
                    automatizada
                    y
                    que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones
                    sobre
                    datos
                    de carácter personal, tienen la consideración de tratamiento de datos personales. COESCO S.L
                    procederá a tratar los datos de carácter personal de manera lícita, leal, transparente, adecuada,
                    pertinente,
                    limitada, exacta y actualizada.</p>

                <strong>Datos recabados para la prestación de un servicio</strong>
                <p>Los datos de carácter personal que nos facilite para la prestación de un servicio serán los mínimos
                    exigibles
                    para
                    poder elaborar el contrato así como para poder ofrecerle los servicios que usted contrate y para el
                    cumplimiento
                    de las
                    obligaciones legales. Los datos serán conservados durante los plazos legalmente establecidos.</p>

                <strong>Datos recabados para la solicitud de información a través del formulario web.</strong>
                <p>Los datos personales recabados a través del formulario web para la petición de información tienen
                    como
                    finalidad
                    el
                    envío de información comercial sobre nuestros productos y servicios.
                    El tratamiento de los datos en este caso está legitimado por el consentimiento expreso que usted nos
                    presta
                    al
                    aceptar el envío de la información aportada a través del formulario.</p>

                <strong>Ejercicio de los derechos</strong>
                <p>De acuerdo con los derechos que confiere el Reglamento (UE) 2016/679 de protección de datos de
                    carácter
                    personal
                    podrá ejercer los
                    derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al
                    tratamiento
                    de
                    sus datos
                    dirigiendo su petición a la dirección postal indicada o al correo electrónico <strong>organizacion@coescoformacion.com</strong>.
                    Para el ejercicio de los derechos deberá identificarse mediante la presentación de su DNI.</p>

                <strong>Destinatarios</strong>
                <p>COESCO S.L informa a los usuarios de que sus datos personales no serán
                    comunicados a terceros, con la salvedad de que dicha comunicación de datos este amparada en una
                    obligación
                    legal
                    o cuando la prestación de un servicio implique la necesidad de una relación contractual con un
                    encargado de
                    tratamiento. En este último caso, los destinatarios de sus datos pueden ser
                    <i>empresas del grupo, empresas
                        de
                        solvencia patrimonial (en el caso de impagos, comunicados mediante los procedimientos y
                        garantías
                        establecidos por la normativa vigente) así como determinados encargados del tratamiento
                        necesarios para
                        la
                        correcta prestación de los servicios)</i>.
                    COESCO S.L mantiene unos criterios estrictos de selección de encargados
                    de
                    tratamiento y se compromete contractualmente con cada uno a cumplir y hacer cumplir las obligaciones
                    establecidas en materia de protección de datos.
                </p>

                <strong>Variación de los datos</strong>
                <p>Mientras no nos comuniquen lo contrario, entenderemos que los datos no han sido modificados y que
                    usted se
                    compromete a notificarnos cualquier variación.

                    Para cualquier reclamación puede dirigirse a <strong>COESCO S.L (C/San Pelayo, nº21, A Estrada,
                        Pontevedra)</strong>.
                    Igualmente podrá dirigirse a la <a href="http://www.agdp.es" target="_blank">Agencia Española de
                        Protección de Datos</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privacidad" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Consentimiento para formularios web</h4>
            </div>
            <div class="modal-body">
                <p>De conformidad con lo establecido en el <strong>REGLAMENTO (UE) 2016/679</strong> de protección de datos de
                    carácter personal, le
                    informamos que los datos que usted nos facilite serán incorporados al sistema de tratamiento titularidad de
                    <strong>COESCO S.L  CIF: B-36043073</strong> con la finalidad de enviarle información comercial de nuestros productos
                    y servicios.</p>

                Se procederá a tratar los datos de manera lícita, leal, transparente, adecuada, pertinente, limitada, exacta y
                actualizada. Mientras no nos comunique lo contrario, entenderemos que sus datos no han sido modificados y que
                usted se compromete a notificarnos cualquier variación. En caso que fuera necesario comunicar sus datos a otros
                destinatarios, puede consultar más información en la política de privacidad disponible en la web.

                De acuerdo con los derechos que le confiere la normativa vigente podrá ejercer sus derechos de acceso,
                rectificación, limitación de tratamiento, supresión, portabilidad y oposición al tratamiento de sus datos de
                carácter personal así como revocar el consentimiento prestado, dirigiendo su petición a la dirección postal
                indicada o al correo electrónico <strong>organizacion@coescoformacion.com</strong>. Igualmente puede dirigirse a nosotros para
                cualquier aclaración en relación con este formulario o en relación al tratamiento de sus datos.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalCourse" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title" ng-bind-html="divHtmlVar"></h4>
            </div>
            <div class="modal-body">
                Solicita información sobre la fecha de este curso poniéndote en
                contacto con nosotros en <strong>coesco@coescoformacion.com o en el 986 57 20 25</strong>.
            </div>
        </div>

    </div>
</div>