nav {
    z-index: 999;
    height: 100px;
    line-height: 100px;
}

.main {
    margin-top: 100px;
}

.carousel {
    margin-top: 100px !important;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    padding: 0 0 30px 0px;   /* new padding */
}

.navbar-brand {
  min-height: 100px;
}

.logo {
  width:282px;
  height:83px;
}

@media screen and (max-width: 900px) {
  .logo {
    width:188px;
    height:56px;
  }
}

@media screen and (max-width: 445px) {
  .logo {
    width:188px;
    height:56px;
  }
}

.nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.panel {
    overflow: auto;
}

@media screen and (min-width: 990px) {
  .panelC {
      height:800px;
  }
}

@media screen and (min-width: 1200px) {
  .panelC {
      height:750px;
  }
}

@media screen and (min-width: 1500px) {
  .panelC {
      height:730px;
  }
}

@media screen and (min-width: 1700px) {
  .panelC {
      height:710px;
  }
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

footer {
  padding: 0px;
  margin; 0px;
  background-color: #ffbb33;
}

/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #0d2f73;
}
/* Cuando paso el ratón por encima */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0d2f73;
}
/* Cuando el enlace está seleccionado */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0d2f73;
}
/* Color de desplegables? */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0d2f73;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    /* Borde cuadrado coalesce */
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    /* Fondo cuadrado coalesce */
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    /* Rayitas cuadrado coalesce */
    background-color: #CCC;
}

ul.nav { margin-left : 35px; }

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse {
    /* Fondo barra navegación coalesce */
        background-color: #0d2f73;
     }
     .navbar-default .navbar-nav > li > a {
         color: #ffffff;
     }
     /* Cuando paso el ratón por encima */
     .navbar-default .navbar-nav > li > a:hover,
     .navbar-default .navbar-nav > li > a:focus {
         color: #fff;
         background-color: #ffbb33;
     }
     /* Cuando el enlace está seleccionado */
     .navbar-default .navbar-nav > .active > a,
     .navbar-default .navbar-nav > .active > a:hover,
     .navbar-default .navbar-nav > .active > a:focus {
         color: #fff;
         background-color: #ffbb33;
     }
     ul.nav {
        margin : 0px;
        padding : 0px;
     }
 } */

#description {
    resize: none;
}

td {
    text-align:center;
    vertical-align:middle;
}

th {
    text-align:center;
    vertical-align:middle;
}

.index1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    font-size : 24px;
    background: #FFA500;
    border-color: #a5682a;
}

h3 {
    font-weight: bold;
}

.centeralign {
    text-align: center;
}

h4 {
    font-weight: bold;
}

.map {
    min-height: 450px;
}

.ulFooter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer {
    display: inline;
}

.logo-small {
      color: #f4511e;
      font-size: 50px;
  }

.logo1 {
    color: #f4511e;
    font-size: 200px;
    margin-top: 70px;
}

.center {
    text-align: center;
}

.services {
    margin-top: 50px;
}

.about {
    margin-left: 30px;
}

.foot {
    margin-top: 20px;
}

.table-responsive {
    margin-top: 20px;
}

.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

body {
    position: relative;
}

#section1 {padding-top:50px;background-color: #fff;}
#section2 {padding-top:80px;margin-left:20px;margin-right:20px;background-color: #fff;}
#section3 {padding-top:50px;background-color: #0d2f73;}
#section4 {padding-top:80px;margin-left:30px;margin-right:30px;padding-bottom:20px;background-color: #fff;}
#section5 {padding-top:30px;padding-bottom:20px;color:#fff;background-color: #0d2f73;}

.navbar {
   text-align: center;
   font-size: 18px;
}

p {
   font-size: 14px;
}

.acreditados {
    list-style-type: none;
}

.footerA {
    padding: 40px;
    display: inline;
}

.calendar {
     min-height: 400px;
}

/* Cuando paso el ratón por encima */
.for > a:hover,
.for > a:focus {
    color: #fff;
    background-color: #0d2f73;
}
/* Cuando el enlace está seleccionado */
.for > .active > a,
.for > .active > a:hover,
.for > .active > a:focus {
    color: #fff;
    background-color: #0d2f73;
}

.img-fluid {
    width: 100%;
    max-height: 900px;
    min-height: 300px;
}

.eu {
  width:88px;
  height:80px;
}

.es {
  width:193px;
  height:46px;
}

.xun {
  width:144px;
  height:46px;
}

.esta {
  width:321px;
  height:51px;
}

.fun {
  width:193px;
  height:47px;
}

@media screen and (max-width: 500px) {
  .eu {
    width:44px;
    height:40px;
  }
  .es {
    width:96px;
    height:23px;
  }
  .xun {
    width:72px;
    height:23px;
  }
  .esta {
    width:160px;
    height:25px;
  }
  .fun {
    width:96px;
    height:23px;
  }
}